<%= turbo_stream_from "book#{book.id}" %>

<%= turbo_frame_tag "book_#{book.id}" do %>
  <div id="<%= dom_id book %>">
    <p>
      <strong>Title:</strong>
      <%= book.title %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= book.description %>
    </p>
    <p>
      <strong>Likes:</strong>
      <%= book.likes %>
    </p>
    <%= button_to "Like (#{book.title})",
                  book_path(book, book: { likes: (book.likes + 1) }) %>
  </div>
<% end %>
