<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<%= turbo_stream_from :books %>
<%= turbo_frame_tag :books, class: 'container d-flex' do %>
  <%= render @books %>
<% end %>
<%= link_to "New book", new_book_path %>
